.imgSize {
    width: 12rem;
    height: 16rem;
    object-fit: contain;
    margin-top: 1rem;
}

.card {
    display: flex;
    align-items: center;
    margin: 0.5rem;
}

img:hover {
    transform: scale(1.14,1.14);
    transition: all 2.5s;
}
